/* #282c34 #61dafb #ffffff */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0%;
    margin: 0%;

    background-color: #282c34;
    color: #ffffff;
}

.App-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
}
